body {
  font-family: sans-serif;
  line-height: 1.5;
  max-width: 720px;
  margin: 0 auto;
}

h1 {
  font-size: 42px;
  color: white;
}

header {
  background-image: url(/Users/melli/ironhack/labs/lab-css-recipes-clone/apple-pie/images/apple-pie.jpg);
}

#intro-text {
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: center;
}
